
<div id="wrapper">
	<div id="container">

		<%= image_tag "FATBOTS.png" , {:width => 330}%>
		<%= render 'form' %>

			<p>A 6' single sensor robot that pushes mobile notifications. Each FATBOT comes fully equipped with an illustrated comic book detailing his journey to Earth. <a href='http://twitter.com/upthemes'>KICKSTARTER</a>.</p>
 	</div>
 </div>